body {
    margin: 0;
    font-family: Open Sans;
}
.summary-container{
    display: flex;
    padding: 50px 60px;
    flex-direction: column;
}

.summary-container h1{
    width: 418px;
    height: 73px;
    top: 168px;
    left: 320px;
    font-size: 61px;
    font-weight: 700;
}

.summary-container img{
    width: 37px;
    height: 37px;
    top: 186px;
    left: 1315px;
    padding: 2.5px;
}

.arrow-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
    padding: 120px 60px;
    justify-content: flex-start;
    border-radius: 50%;
}

.arrow-container img:hover{
    cursor: pointer;
    filter: brightness(100%)  ; /* Hellere Farbe beim Hover */
    background-color: #D2E2FE; /* Neue Hintergrundfarbe beim Hover */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, background-color 0.3s ease-in-out ;
}

.privacy-box{
    top: 289px;
    left: 320px;
    gap: 35px;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
}

.privacy-container{
    display: flex;
    flex-direction: column;
}

.privacy-box h1 , h2 {
    font-size: 33px;
    font-weight: 700;
    color: #4589FF;
}

.headline-box p{
    font-size: 16px;
    font-weight: 400;
}





