body {
    margin: 0;
<<<<<<< HEAD
    font-family: 'Open Sans';
=======
    font-family: Open Sans;
>>>>>>> 7244e5aa80c51d61850d36c50f2f2275dab5f43f
    max-height: 1024px;
}


.space-between {
    display: flex;
    justify-content: space-between;
}


.column{
    display: flex;
    flex-direction: column;
}


.alignItems{
    display: flex;
    align-items: center;
}


.flex50{
    display: flex;
    flex: 0.5
<<<<<<< HEAD
}


.dFlex{
    display: flex;
}


.overflowHidden{
    overflow: hidden;
=======
>>>>>>> 7244e5aa80c51d61850d36c50f2f2275dab5f43f
}