.mainBoard {
    display: flex;
    padding: 172px 0px 16px 64px;
    width: 1208px;
    justify-content: center;
}


.categorysBoardContainer {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}

.categorysBoard {
    display: flex;
    justify-content: space-between;
    width: 244px;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: RGB(209, 209, 209);
    line-height: 19.2px;
} 

.inputSearchContainer {
    display: flex;
    border: 1px;
    border-radius: 10px;
    color: RGB(168, 168, 168);
    border-style: solid;
    width: 312px;
    justify-content: flex-end;
    padding: 8px 16px;
    margin-right: 35px;
    font-family: 'Open Sans', sans-serif;
}


.inputSearchContainer input {
    border: none;
    width: 100%;
}


.inputSearchContainer input:focus {
    outline: none;
}


.searchIconContainer {
    border-left: 1px;
    color: RGBA(209, 209, 209, 0.5);
    border-style: solid;
    border-right: none;
    border-bottom: none;
    border-top: none;
    height: 32px;
    width: 48px;
}


#searchIcon {
    padding-left: 16px;
}


.searchMainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 35px;
}


.searchMainContainer button {
    background-color: RGB(69, 137, 255);
    color: white;
    font-weight: 400;
    font-size: 23px;
    height: 51px;
    border-radius: 10px;
    border: none;
}


.taskBoard {
    max-width: 1080px;
    min-width: 1080px;
    height: 100%;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    padding: 0 64px 0 64px;
    gap: 24px;
}


.styleTasks {

    height: 100%;
    flex: 0.25;
}