body {
  margin: 0;
  max-height: 1024px;
  font-family: "Open sans", sans-serif;
}

.sum-container {
  display: flex;
  width: 456px;
  max-height: 1024px;
  flex-direction: column;
  border-right: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 96px;
}

.addContactButtonContainer {
  height: 104px;
  padding: 32px 24px 16px 24px;
  display: grid;
  place-items: center;
}

.inputContainerOne {
  position: relative;
}

.inputContainerTwo {
  position: relative;
}

.inputContainerThree {
  position: relative;
}

.inputContainerImg {
  width: 32px;
  position: absolute;
  right: 0;
  top: 0;
  filter: opacity(0.2);
}

.avatarProfil {
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  filter: opacity(0.5);
}

.addToContactButton {
  padding: 8px;
  height: 56px;
  width: 90%;
  background-color: rgb(69, 137, 255);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.addToContactButton:hover {
  cursor: pointer;
  background-color: rgb(27, 110, 255);
}

.addToContactButton img {
  width: 28px;
}

.blurContainer {
  z-index: 1;
  inset: 0;
  position: absolute;
  background-color: white;
  opacity: 0.5;
}

.d-none {
  display: none;
}

.addContactSlideCard {
  padding-top: 96px;
  width: 584px;
  height: 1024px;
  transform: translateX(100%);
  transition: all 250ms ease-in-out;
  right: 0;
  border-radius: 25px 0px 0px 0px;
  border-left: 1px solid rgb(200, 200, 200); /* hier war vorher position: absolute; drin, hab ich raus genommen */
}

.slideOpen {
  transform: translateX(0%) !important;
  transition: all 250ms ease-in-out;
  z-index: 2;
}

.upperBody {
  background-color: rgb(0, 93, 255);
  padding: 91px 46px 91px 46px;
  border-radius: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeX {
  font-size: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
}

.closeX:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 0px 0px 4px 0px;
}

.upperBody img {
  width: 55px;
}

.lowerBody {
  background-color: white;
  height: 0%; /*  von Laurin von 70% auf null geändert  */
  display: grid;
  place-items: center;
}

.lowerBody form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.lowerBodyDiv {
  width: 422px;
  height: 438px;
}

.functionNameTextOne {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.functionNameTextTwo {
  color: white;
  font-size: 28px;
}

.userImgLowerBody {
  width: 108px;
  filter: opacity(0.5);
}

.inputLowerBody {
  border: none;
  border-bottom: solid 1px grey;
  width: 422px;
  padding: 12px 21px 12px 21px;
  outline: none;
  font-size: 20px;
}

.inputLowerBody::placeholder {
  color: rgb(217, 217, 217);
}

.lowerBodyBtnContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.createUserBtn {
  width: 204px;
  height: 61px;
  padding: 8px;
  background-color: rgb(69, 137, 255);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.createUserBtn:hover {
  cursor: pointer;
  background-color: rgb(27, 110, 255);
}

.closeAddContactBtn {
  width: 136px;
  padding: 8px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  color: rgb(200, 200, 200);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.closeAddContactBtn:hover {
  cursor: pointer;
  color: rgb(27, 110, 255);
  border-color: rgb(27, 110, 255);
}

/* ------------------------------------------------------------- */
.summary-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 488px;
  height: 928px;
  top: 96px;
  left: 232px;
  padding: 64px 24px 64px 24px;
  gap: 24px;
}

.summary-container h1 {
  margin: 0; /* Entferne den Standardmargenwert für das <h1>-Element */
}

.main-content {
  display: flex;
  overflow-y: hidden;
  max-height: 100vh;
}

.popupContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  z-index: 999;
  display: none;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.closePopup {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.listContact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  border: none;
  background-color: transparent;
  padding: 15px 24px 15px 24px;
}

.listContact:hover {
  cursor: pointer;
  background-color: rgba(27, 110, 255, 0.1);
}

.chartAt {
  background-color: orange;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  color: white;
}

.chartAtPulledContact {
  background-color: orange;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 56px;
  color: white;
}

.renderNameEmail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listName {
  font-size: 20px;
}

.listEmail {
  color: rgb(27, 110, 255);
}

.category {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.line {
  height: 2px;
  background-color: rgb(203, 203, 203);
  width: 100%;
}

.letter {
  padding: 17px 36px 17px 36px;
  font-size: 24px;
}

#pullContactToWindow {
  flex: 1;
  transform: translateX(250%);
  padding-top: 100px;
}

.pull {
  transform: translateX(0) !important;
  transition: all 250ms ease-in-out;
}

.pencilAndTrashImg {
  width: 14px;
  filter: invert(48%) sepia(19%) saturate(7122%) hue-rotate(205deg)
    brightness(108%) contrast(101%);
}

.editAndDeletetBtn {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 70px;
}
.editAndDeletetBtn:hover {
  color: #1a6eff;
  font-weight: bold;
  cursor: pointer;
}
.editAndDeletetBtn:hover .pencilAndTrashImg {
  filter: invert(34%) sepia(84%) saturate(3480%) hue-rotate(211deg)
    brightness(100%) contrast(106%);
  cursor: pointer;
}

.editAndDeletetContainer {
  display: flex;
  align-items: center;
}

.h1Name {
  margin-block-start: 0;
  margin-block-end: 0;
}

.pulledHeadline {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 56px;
  padding-top: 40px;
}

.pulledInformation {
  padding-left: 56px;
}

#listContactContainer {
  padding-left: 6%;
  padding-right: 6%;
}
