body {
  margin: 0;
  font-family: Open Sans;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .headline img {
    max-width: 100%;
    height: auto;
  }

  .menu-bar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 3px #00000014;
    padding: 10px;
    z-index: 1;
    top: 100px;
    right: 50px;
    width: 110px;
    text-align: right;
  }
  
  .menu-item {
    cursor: pointer;
    color: #707c92;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
  }
  
  .menu-item:hover {
    text-decoration: none;
    color: lightblue;
  }
  
  
.sum-container {
  margin-right: auto;
  width: 100%;
}

.sum-container:hover {
  scrollbar-color: #4589ff #ffffff;
}
.summary-container {
  cursor: pointer;
  padding: 134px 24px 24px 24px;
  display: flex;
  flex-direction: column-reverse;
}

.summary-container h1 {
  margin: 0; /* Entferne den Standardmargenwert für das <h1>-Element */
}

.summary-container h3 {
  display: none;
}

.sum-container h1 {
  width: 455px;
  height: 77px;
  gap: 22px;
  font-size: 64px;
  color: #2a3647;
}

.main-content {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.tasks {
  width: 912px;
  height: 219px;
  top: 223px;
  gap: 35px;
  display: flex;
}

.description {
  width: 440px;

  display: flex;
  flex-direction: column;
}

.priority {
  height: 82px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.assigned {
  height: 79px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.categoryHeader {
  height: 79px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.subtasks {
  height: 79px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 84px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.optional {
  height: 23px;
  font-size: 19px;
}

.enter {
  height: 154px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  color: #42526e;
}

.description-optional {
  height: 23px;
}

.enter span {
  font-size: 19px;
}

.enter-input {
  height: 103px;
  border-radius: 0px 10px 10px 10px;
  border: 1px;
  gap: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 16px 13px 16px;
}

.enter input {
  font-size: 19px;
}

.date-box {
  height: 16px;
  font-size: 13px;
}

.date {
  height: 99px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.titlebox {
  height: 64px;
  padding: 0px 32px 0px 16px;
  border: 0px 0px 1px 0px !important;
  gap: 10px;
  border-bottom: 1px solid #d1d1d1 !important;
  border: none;
  font-size: 32px;
}

.titlesmallbox {
  height: 16px;
  font-size: 13px;
  color: red;
}

.due-date {
  height: 23px;
  font-weight: bold;
  color: #42526e;
}

.due-input {
  display: flex;
  height: 48px;
  padding: 12px 16p 12px 16px;
  border: 0px 0px 1px 0px;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1 !important;
  border: none;
}

.due-box {
  height: 16px;
  font-size: 13px;
}

.medium {
  width: 136px;
  padding: 18px 10px 18px 10px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 4px 0px #00000029;
  background-color: #ffa800;
  color: white;
  align-items: center;
  transition: background-color 0.3s ease;
}

.medium img {
  width: 20px;
  height: 7.45px;
  padding: 0px 0px 0px 0px;
}

.low {
  width: 136px;
  padding: 18px 10px 18px 10px;
  border-radius: 10px;
  gap: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #00000029;
  background-color: #7be228;
  transition: background-color 0.3s ease;
}

.assigned-box {
  height: 23px;
}

.priority-box {
  height: 51px;
  gap: 16px;
  display: flex;
  font-size: 19px;
  cursor: pointer;
}

.priority-header {
  height: 23px;
  color: #42526e;
  font-size: 19px;
  font-weight: bold;
}

.urgent {
  width: 136px;
  padding: 18px 10px 18px 10px;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0px 0px 4px 0px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe3d01;
  transition: background-color 0.3s ease;
  color: white;
}

.active {
  color: black;
  background-color: inherit !important;
}

.color-img {
  display: none;
}

.active .color-img {
  display: inline-block;
}

.active .gray-img {
  display: none;
}

img {
  transition: filter 0.3s ease;
}

.medium:hover {
  box-shadow: 0px 0px 4px 0px #ffa800;
}

.low:hover {
  box-shadow: 0px 0px 4px 0px #7be228;
}

.urgent:hover {
  box-shadow: 0px 0px 4px 0px #fe3d01;
}

#contactInput {
  padding: 10px;
  padding: 12px 16px 12px 16px;
  border: 0px 0px 1px 0px;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1 !important;
  border: none;
}

.input-with-icon input {
  padding: 10px;
  padding: 12px 16px 12px 16px;
  border: 0px 0px 1px 0px;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1 !important;
  border: none;
}

#assignedInput {
  padding: 10px;
  padding: 12px 16px 12px 16px;
  border: 0px 0px 1px 0px;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1 !important;
  border: none;
}

.assigned img {
  width: 24px;
  height: 24px;
}

.input-with-icon {
  position: relative;
  height: 48px;
  display: flex;
  flex-direction: column;
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 50%;
  background-color: white; /* Hintergrundfarbe vor dem Hover */
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.dropdown-icon:hover {
  filter: brightness(100%); /* Hellere Farbe beim Hover */
  background-color: #d2e2fe; /* Neue Hintergrundfarbe beim Hover */
  transform: scale(1.2) rotate(180deg);
}

.footer-box {
  height: 48px;
}

.clear-button {
  height: 61px;
  top: 908px;
  left: 1063px;
  gap: 25px;
  display: flex;
  padding-right: 80px;
}

.create {
  height: 60px;
  padding: 16px 10px 16px 10px;
  border-radius: 10px;
  gap: 4px;
  background-color: #4589ff;
  color: white;
  border: 2px solid #4589ff;
  font-size: 23px;
  cursor: pointer;
  display: flex;
}

.clear {
  width: 136px;
  height: 61px;
  padding: 16px 10px 16px 10px;
  border-radius: 10px;
  border: 1px;
  gap: 10px;
  background-color: white;
  color: #647188;
  font-size: 23px;
  border: 1px solid #647188;
  display: flex;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.clear-button img {
  width: 24px;
  height: 24px;
}

.button-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 80px;
}

.create-button {
  height: 61px;
  top: 908px;
  left: 1063px;
  gap: 25px;
  display: flex;
  padding-right: 80px;
}

.create-button button:hover {
  background-color: #1c6ffe;
  color: white;
  border-color: #4589ff;
}

.clear-button button:hover {
  background-color: white;
  color: #4589ff;
  border-color: #4589ff;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.listContact {
    display: flex;
    gap: 16px;
    border-radius: 10px;
    background-color: transparent;
    padding: 7px 16px 7px 16px;
    border: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.listContact:hover {
    cursor: pointer;
    background-color: rgba(27, 110, 255, 0.1);
    border-radius: 10px; 
}
  
.chartAt {
    background-color: orange;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
}
  
.listName {
    font-size: 20px;
    flex: 1;  
    margin-right: 16px;  
}
  
.category {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    justify-content: space-between;
    background-color: white ;
}

.category:hover{
    background-color: rgba(27, 110, 255, 0.1) ;
}
  
.listEmail,.line,
.letter {
  display: none;
}

#listContactContainer {
  z-index: 1000;
  background-color: white;
  display: none;
}

.box{
    width: 24px;
    height: 24px;
    margin-left:auto;
}

.listContact.active {
  background-color: #005dff !important;
  color: white;
  border: 2px solid white;
}

.listContact.active .chartAt,
.listContact.active .box {
  border: 2px solid white !important;
}

.listContact.active .box {
  border-color: white;
}

.techUser {
    display: flex;
    gap: 16px;
    border-radius: 10px;
    background-color: white;
    padding: 7px 16px 7px 16px;
    border: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 2; 
}

.techUser:hover {
    background-color: rgba(27, 110, 255, 0.1);
}

#listTechnical {
    z-index: 1000; 
    background-color: white;
    display: none;
}

.select:hover{
    background-color: rgba(27, 110, 255, 0.1);
    border-radius:10px; 
}

.select {
    padding: 7px 16px;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.contactUser {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactUser img {
  cursor: pointer;
}

.contactUser img + img {
  margin-left: 8px;
}

.contactUser:hover {
  background-color: rgba(27, 110, 255, 0.1);
  border-radius: 10px;
}

.contactUser {
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding:7px 36px;
}

.subPics{
  display: flex;
}

.sideBoardOffline{
  display: none;
}


@media only screen and (max-width: 768px) {
    .kanban {
      justify-content: unset;
      gap: 5px;
    }
  
    .kanban p {
      display: none;
    }
  
    .header {
      padding: 10px 10px 10px 10px;
    }
  
    .sideBoard-container {
      display: none;
    }
  
    .headline img {
      max-width: 10vw;
    }
  
    .clear-button {
      padding-right: 5px;
    }
  
    .summary-container {
      display: flex;
      flex-direction: column;
      padding: 134px 24px 2px 24px;
    }
  
    .summary-container h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      font-weight: bold;
      margin: 0px;
    }
  
    .description {
      width: 100%;
    }
  
    .priority-box {
      gap: 4px;
      font-size: 16px;
    }
  
    .contact-dropdown {
      top: auto;
    }
  
    .menu-bar {
      right: 30px;
    }
  
    .button-container .clear-button {
      display: none;
    }
  
    .buttonSize {
      padding: unset;
    }

    .button-container {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  
    .button-box {
      padding-right: 0;
    }

    .subtasks {
      margin-bottom: 20px; /* Beispielwert, passen Sie dies an Ihre Bedürfnisse an */
    }
    
    .button-container {
      clear: both;
    }

    .subtasks{
      height: unset;
    }

    .flex50.column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    
  
    .sideBoardChild2 a {
      justify-content: center; 
   }
  
    .alignItems {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .sideBoard a{
      padding: 8px 10px 8px 10px;
    }
  
    .flex50.column a {
      color: white; 
      text-decoration: none; 
    }
  
    .flex50.column a img {
      filter: brightness(0) invert(1); /* Ändern Sie die Farbe der Bilder auf Weiß */
    }
  
    .sideBoard a:hover{
      background-color:#1c6ffe;
    }

    

    .sideBoard {
      position: fixed;
      bottom: 0;
      width: 100%;
      box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); 
      background-color: #4589ff;
      z-index: 1000;
      padding-top:unset;
      height:unset;
      width:100%;
  }

  .main-content {
      padding-bottom: 56px; /* Höhe des fixierten Menüs */
  }

    .sideBoardChild2 {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-left: unset;
      padding-top: unset;
      display: none;
    }

    

}
  
  
  

