.mainBoard {
    display: flex;
    padding: 172px 0px 16px 64px;
    width: 1208px;
    justify-content: center;
}


.categorysBoardContainer {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}

.categorysBoard {
    display: flex;
    justify-content: space-between;
    width: 244px;
    color: #42526E;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: RGB(209, 209, 209);
    line-height: 19.2px;
}

.inputSearchContainer {
    display: flex;
    border: 1px;
    border-radius: 10px;
    color: RGB(168, 168, 168);
    border-style: solid;
    width: 312px;
    justify-content: flex-end;
    padding: 8px 16px;
    margin-right: 35px;
    font-family: 'Open Sans', sans-serif;
}


.inputSearchContainer input {
    border: none;
    width: 100%;
}


.inputSearchContainer input:focus {
    outline: none;
}


.searchIconContainer {
    border-left: 1px;
    color: RGBA(209, 209, 209, 0.5);
    border-style: solid;
    border-right: none;
    border-bottom: none;
    border-top: none;
    height: 32px;
    width: 48px;
}


#searchIcon {
    padding-left: 16px;
}


.searchMainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 35px;
}


.searchMainContainer button {
    background-color: RGB(69, 137, 255);
    color: white;
    font-weight: 400;
    font-size: 23px;
    height: 51px;
    border-radius: 10px;
    border: none;
}


.taskBoard {
    max-width: 1080px;
    min-width: 1080px;
    height: 100%;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    padding: 0 64px 0 64px;
    gap: 24px;
}


.styleTasks {
    height: 100%;
    flex: 0.25;
}


.addTaskBtn {
    cursor: pointer;
}


.addTaskBtn:hover {
    background-color: #72a4fa;
}


.addTaskBtnPlus {
    cursor: pointer;
}


#searchIcon {
    cursor: pointer;
}


.userStoryBtn {
    color: white;
    background-color: #FF7A00;
    border-radius: 8px;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400;
    height: 36px;
    width: 160px;
}


.closeBtn {
    width: 24px;
    height: 24px;
    padding: 4px;
}


.newTaskFloating {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    max-width: 528px;
    max-height: 80vh;
    padding: 48px 40px 48px 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.newTaskFloating table {
    border-collapse: collapse;
}


.newTaskFloating td {
    border: none;
    text-align: left;
    padding: 0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 22.8px;
}


.newTaskFloating th {
    border: none;
    text-align: left;
    padding: 0;
    color: rgba(66, 82, 110, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}


.newTaskFloating h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    margin: 0;
}


.newTaskFloating h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    color: rgba(66, 82, 110, 1);
    margin:0;
}


.newTaskFloating span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 22.8px;
    color: black;
}


.userStoryBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.addTaskStyleProfileName {
    color: black;
}


.addTaskStyleDescription {
    color: black;
}


.editContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
}


.editAddTask {
    align-items: center;
    gap: 8px;
    display: flex;
    justify-content: space-between;
}


.styleCheckboxContainer{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}