body {
    margin:0;
    box-sizing: border-box;
    height: 100vh;
}

.header {
    height:30vh;
}

.header img {
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
    position: relative;
}

.sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 315px;
    height: 48px;
    top: 67px;
    left: 1039px;
    gap: 35px;
    margin-left: auto; /* Verschiebt den Container so weit nach rechts wie möglich */
    margin-right: 50px; 
}

.sign button {
    background-color: #4589FF;
    color: white;
    border: 2px solid #4589FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign button:hover{
    background-color: #1C6FFE;
    color: white;
    border-color: #4589FF;
}

.sign button.buttonSize{
    width: 112px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    display: flex;
    font-size: 23px;
}

.next {
    margin:0;
    width: 168px;
    height: 28px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button{
    background-color: #4589FF;
    color: white;
    border: 2px solid #4589FF;
    border-radius: 6px;
    cursor: pointer;
}

.container-log  {
    width: 652px;
    height: 491px;
    top: 266.5px;
    left: 394px;
    padding: 48px 115px 48px 115px;
    border-radius: 30px;
    gap: 39px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 3px #00000014;
}

input {
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #DDDDDC; /* Ränder nur für die untere Seite */
    outline: none; 
}

.button-container  {
    display: flex;
    width: 422px;
    gap: 35px;
    padding-top:25px;
}

.container button:hover {
    background-color: #1C6FFE;
    color: white;
    border-color: #4589FF;
}

.container button.guest-button {
    background-color: white;
    color: #647188;
    border-color: #647188;
    transition: all 0.3s ease;
}

.container button.guest-button:hover {
    background-color: white;
    color: #4589FF;
    border-color: #4589FF;
}

.container-log input[type="checkbox"] {
    margin-right: 5px; 
    cursor: pointer;
}

.button-container .guest-button.bot{
    width: 197px;
    height: 48px;
    font-size: 23px;
    border-radius: 8px;
    gap: 10px;
}

.button-container .button-log{
    width: 135px;
    height: 48px;
    font-size: 23px;
    border-radius: 8px;
    gap: 10px;
}

.remember-me{
    width: 355px;
    height: 23px;
    padding: 0px 216px 0px 0px;
    gap: 35px;
}

.remember-me input label {
    width: 139px;
    height: 24px;
    gap: 4px;
}

.headline{
    width: 422px;
    height: 74px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inheadline{
    height: 58px;
    width:315px;
}

.section{
    width: 422px;
    height: 195px;
    gap: 20px;
}

.only-input {
    width: 422px;
    height: 152px;
    gap: 32px;
}

.only-input-near input {
    width: 422px;
    height: 48px;
    padding: 12px 21px 12px 21px; 
    border: 0 0 1px 0;
    gap: 10px;
    border-bottom: 1px solid #D1D1D1;
    background: #FFFFFF;
    justify-content: space-between;
}

.separator{
    width: 150px;
    background: #4589FF;
    border: 3px solid #4589FF;
}

.button-log{
    width: 65px;
    height: 28px;
}

.bot {
    width: 127px;
    height: 28px;
}

.inheadline h1{
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}

#remember{
    border-radius: 3px;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    border: 2px;
}

.checkbox{
    width: 139px;
    height: 24px;
    display: flex;
    gap:4px;
    padding-top:10px;
}

label{
    width: 111px;
    height: 19px;
}

.box{
    width: 24px;
    height: 24px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footline{
    /* width: 240px; */
    height: 35px;
    top: 946.3px;
    left: 600px;
    text-align: center;
    display: flex;
}

.policy{
    width: 116px;
    height: 35px;
    top: 946.3px;
    left: 600px;
    padding: 8px;
    gap: 8px;
}

.notice{
    width: 108px;
    height: 35px;
    top: 946.3px;
    left: 732px;
    padding: 8px;
    gap: 8px;
}

.policy,
.notice {
    color: #42526E; /* Ändere die Farben nach Bedarf */
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.policy:hover,
.notice:hover {
    cursor: pointer;
}

#msgBox{
    font-size: 18px;
    font-weight: bold;
    color: #4589FF;
}

.only-input-near img{
    width:24px;
    height: 24px;
    filter: brightness(70%);
}

.only-input-near {
    position: relative;
}

#password,#email {
    padding-right: 30px; 
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 5px; 
    transform: translateY(80%);
    cursor: pointer;
}

#toggleEmail {
    position: absolute;
    top: 50%;
    right: 5px; 
    transform: translateY(-125%);
    cursor: pointer;
}

@media only screen and (max-width: 630px){
.sign{
    margin-right: unset;
    padding-right:10px;
}

.sign button{
    width:unset;
    height:unset;
}

.header{
    display: flex;
    justify-content: center;
    height: unset;
    align-items: center;
}

.header img{
    padding: 10px;
    width: unset;
    height:80px;
    display: flex;
    justify-content: flex-start;
    top:0;
    left:0px;
}

.container-log {
    width: 80%; /* Beispielhafte Anpassung für das Hauptcontainer-Element */
    padding:unset;
}

.section{
    width:60vw;
}

.only-input-near input{
    width:100%;
}

.only-input{
    width:unset;
}

.button-container{
    width: unset;
    height:unset;
    gap:15px;
}

.next{
    width:unset;
}

.button-size{
    padding:unset;
}

.guest{
    padding:unset;
    width:unset;
}

.headline{
    width:unset;
}

.inheadline{
    width:unset;
}

.remember-me{
    width: unset;
}

.button-container .button-log{
    font-size:16px;
    width:100%;
}

.button-container .guest-button.bot{
    font-size:16px;
    width:100%;
}

.sign button.buttonSize{
    width:unset;
    font-size:20px;
}

.guest{
    height:unset;
}

#msgBox{
   text-align: center;
}

#user-name{
    font-size:36px;
}


}