.header {
  display: flex;
  position: absolute;
  z-index: 10;
  justify-content: space-between;
  background-color: #4589ff;
  box-shadow: 0px 4px 4px 0px #0000001a;
  align-items: center;
  padding: 28px;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.kanban {
  display: flex;
  align-items: center;
  height: 56px;
  color: white;
  cursor: pointer;
  width: 433px;
  justify-content: space-between;
}

.next {
  margin: 0;
}

.buttonSize {
  background-color: #4589ff;
  color: white;
  border: none;
  cursor: pointer;
}

.help-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4589ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.help-button span {
  font-size: 20px;
  line-height: 1;
}

.help-button:hover span {
  transform: scale(1.2);
}

.buttonSize:hover .profile-icon {
  filter: brightness(90%);
}

.sideBoard {
  padding-top: 162px;
  width: 232px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.sideBoard a {
  width: 186px;
  height: 40px;
  padding: 8px 10px 8px 30px;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  color: black;
}

.sideBoard a:hover {
  color: #42526e;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  background-color: #d2e2fe;
  width: 186px;
}

.sideBoard img {
  width: 22px;
  height: 22px;

  margin-right: 10px;
}

.sideBoardChild2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 48px;
  padding-top: 300px;
}

.sideBoardChild2 a {
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

#logo {
  cursor: pointer;
}

.sideBoardContainer {
  width: 232px;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .flex50.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sideBoardChild2 a {
    justify-content: center;
  }

  .alignItems {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sideBoard a {
    padding: 8px 10px 8px 10px;
  }

  .flex50.column a {
    color: white;
    text-decoration: none;
  }

  .flex50.column a img {
    filter: brightness(0) invert(1); 
  }

  .sideBoard a:hover {
    background-color: #1c6ffe;
  }

  .kanban{
      justify-content: flex-end;
      gap:5px;
  }
  
  .kanban p{
      display:none;
  }
  
  .header{
      padding:10px 10px 10px 10px;
  }
  
  .headline img{
      max-width: 10vw;
  }
  
  .summary-container{
      gap:60px;
      padding: 90px 0px 10px 10px;
  }

  .sum-container h1{
      font-size:36px;
  }

  .menu-bar {
    right: 30px;
  }

  .privacy-box h1,
  h2 {
    font-size: 23px;
  }

  .privacy-box {
    padding: 10px 10px 10px 10px;
  }

  .arrow-container {
    padding: 30px 10px;
  }

  .buttonSize {
    padding: unset;
  }

  .button-container {
    flex-direction: unset;
    align-items: unset;
    display: flex;
    justify-content: center; 
 }

 .create-button{
  padding-right: unset;
 }

.summary-container h1{
    margin:unset;
    display: flex;
    flex-direction: column;
    text-align: center;
}

  .column {
    display: block;
  }

  .sideBoard {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    background-color: #4589ff;
    z-index: 1000;
    padding-top: unset;
    height: unset;
  }

  .sideBoardContainer {
    width: unset;
    height: unset;
  }

  .main-content {
    padding-bottom: 56px; /* Höhe des fixierten Menüs */
    height: unset;
  }

  .sideBoardChild2 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: unset;
    padding-top: unset;
    display: none;
  }

  .sum-container {
    width: 100%;
  }

  #pullContactToWindow {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  .responsivHeader {
    visibility: visible;
    padding-left: 16px;
    padding-right: 16px;
  }

  .pulledHeadline {
    padding-left: 16px;
    padding-right: 16px;
  }

  .pulledInformation {
    padding-left: 16px;
    padding-right: 16px;
  }

  .pulledInformation h2 {
    display: none;
  }

  .editAndDeletetContainer {
    width: 116px;
    height: 100px;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 24px 24px 0px 24px;
    border: 1px solid grey;
    gap: 8px;
    box-shadow: silver 0px 5px 2px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .responsivHeader {
    visibility: hidden;
  }
}

.sideBoardChild2 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: unset;
  padding-top: unset;
  display: none;
}

#user-name{
  font-size:46px;
}

.greatName{
  flex-direction: column;
  text-align: center;
}


