body {
    margin: 0;
    font-family: Open Sans;
}

.next {
    margin: 0;
}

.buttonSize {
    background-color: #4589FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.help-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4589FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.help-button span {
    font-size: 20px;
    line-height: 1;
}

.menu-bar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 3px #00000014;
    padding: 10px;
    z-index: 1; 
    top:100px;
    right:50px;
    width:110px;
    text-align: right;
}

.menu-item {
    cursor: pointer;
    color: #707C92;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.menu-item:hover {
    text-decoration: none;
    color: lightblue;
}

.help-button:hover span {
    transform: scale(1.2); 
}

.buttonSize:hover .profile-icon {
    filter: brightness(90%); 
}

.summary-container h1 {
    margin: 0; /* Entferne den Standardmargenwert für das <h1>-Element */
}

.main-content {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.dFlexd{
    display: flex;
}

.sum-container {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
}

.sum-container h1{
    font-size: 64px;
    color: #2A3647;
}

.summary-container {
    max-width: 952px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
    gap: 72px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.date, .tasks {
    display: flex;
    gap: 20px; 
}

.date img, .tasks img {
    max-width: 100%;
    height: auto;
}









