<div class="header">
        <img src="assets/img/Capa 1.png" id="logo">
        <div class="kanban">
            <p class="next" onclick="toggleMenuBar()">Kanban Project Management Tool</p>
            <div class="help-button" onclick="showHelp()">
                <img src="assets/img/help.png">
            </div>
            <button class="buttonSize" type="button" onclick="toggleMenuBar()">
                <img class="profile-icon" src="assets/img/User profile initials.png" alt="User Profile Icon">
            </button>
            </div>

            <div class="menu-bar" id="menuBar" style="display: none;">
                <span class="menu-item" onclick="showLegalNotice()">Legal Notice</span>
                <span class="menu-item" onclick="showPrivacyPolicy()">Privacy Policy</span><br>
                <span class="menu-item" onclick="logOut()">Log Out</span></br>
            </div>
</div>
