<div class="column sideBoard">
    <div class="flex50 column">
        <a href="summary.html" class="alignItems"><img src="assets/img/Menu Icons.png">Summary</a>
        <a href="add_task.html" class="alignItems"><img src="assets/img/Menu Icons (1).png">Add Task</a>
        <a href="board.html" class="alignItems"><img src="assets/img/Menu Icons (2).png">Board</a>
        <a href="contact.html" class="alignItems"><img src="assets/img/Menu Icons (3).png">Contacts</a>
    </div>
    <div class="sideBoardChild2">
        <a onclick="showPrivacyPolicy()">Privacy Policy</a>
        <a onclick="showLegalNotice()">Legal notice</a>
    </div>
</div>